.main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards-container
{
    /* background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% ); */
    background-image: radial-gradient( circle 848px at 10% 20%,  rgba(234, 240, 233, 0.9) 0%, rgb(181, 232, 123) 90% );
    width: 310px;
    margin: 20px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    
   
}
@media screen and (max-width:768px)
{
   
    .cards-container
{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    height: 400px;
    justify-content: center;
    margin-top: 20px;
}
}
.cards-container:hover
{
    box-shadow: 2px 1px 7px 1px green;
    overflow: hidden;
    transition: 1s;
    transform: scale(1.0080);
}
.card-img
{
    width: 100%;
    height: 50%;
}
@media screen and (max-width:768px)
{
   
    .card-img
{
    
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
}
}
.card-body
{
    text-align: center;
}
p{
    margin-top: -20px;
    font-size: 20px;
    text-align: justify; 
}

 @media screen and (max-width:768px)
    {
      
    p
{
    
    font-size: 14px;
}
    }
h3{
    margin-top: 10px;
    font-size: 22px;
}
@media screen and (max-width:768px)
{ 
p
h3
{

font-size: 18px;
}
}
.star-img
{
    height: 20px;
}
h4{
    margin-top: -10px;
    font-size: 18px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 70px;
    bottom: 20px;
}
@media screen and (max-width:768px)
{ 
p
h4
{

font-size: 15px;
}
}

.price
{
    font-size: 20px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 50px;
    bottom:80px;
    font-weight: bold;
}
.old-price
{
    font-size: 18px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 130px;
    bottom:80px;
    
}
.percentage-off
{
    font-size: 18px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 200px;
    bottom:80px;
}