.navbar-container{
    background-color: green;
    width: 100%;
    padding: 10px;
     
}
.logo
{
    box-shadow: 0 0 5px 1px orange;
  color: aliceblue;
    font-size: 25px;
   font-weight: bolder;
 
}
.navbar-link
{
    color: aliceblue;
    font-size: 20px;
    justify-content: center;
    padding: 40px ;
    text-decoration: none;
    
}

.seachbar-container
{
    position: relative;
}
.textbox
{
    position: absolute;
   right: 20px;
   top: -40px;
}
.search-icon
{
    position: absolute;
    right: 20px;
    top: -35px;
    height: 25px;
 }


 
.theme-switcher
{
    height: 30px;
    background-color: aliceblue;
    border-radius: 25%;
   margin: 10px;
   
}

/* 
 */