@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
.contact-container
{
    display: flex;
    flex-direction: row;
    position: relative;
}
@media screen and (max-width:768px)
  {
    .contact-container
  {
    display: block;
    flex-direction: column;
    margin-bottom: 300px;

    
  }
}
@media screen and (max-width:768px)
  {
    .map
  {
 height: 300px;
 position: absolute;
 left: -70px;
 top:400px;
 width: 300px;

    
  }
}
.contact-backgrounf-img
{
    width: 100%;
    height: 90%;
    padding: 20px;
    border-radius: 5px 50px 50px 5px;
   
   

}
@media screen and (max-width:768px)
{
   
  .contact-backgrounf-img
{
    
  width: 100%;
  height: 450px;
  padding: 20px;
}
}
.c-btn
{
  margin-bottom: -2000px;
}
.BODY
{
    position: absolute;
    right:  270px;
    top: 40px;
   
}
.info
{
    position: absolute;
    left:  240px;
    top: 40px;   
    width: 40px;
   text-align: center;
}
@media screen and (max-width:768px)
{
  .info
{
  left:  80px;
  top: 40px; 
  font-size: 12px;
  width: 100px;
}
}
.main-heading
{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
  
   
}
@media screen and (max-width:768px)
{
  .main-heading
{
  font-size: 20px;
  
}
}
.sub-heading
{
    font-size: 18px;
    
  
}
@media screen and (max-width:768px)
{
  .sub-heading
{
  font-size: 12px;
}
}
.heading
{
   position: absolute;
   right: 20px;
  
   
   height: 85%;
   margin: 20px;
   margin-left: 90PX;
   padding: 20px;
}
@media screen and (max-width:768px)
{
  .heading
{
    
  right: -12px;
  bottom:  40px;
  font-size: 15px;


}
}

@media screen and (max-width:768px)
{
  .text-box
{
  
  width: 120px;
  font-size: 10px;
}
}